@use "aposto-theme";

.patient-edit {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: aposto-theme.$primary;
  }
}

.patient-search-form {
  margin-top: 12px;
  width: 100%;
}

.edit-icon {
  font-size: 16px;
  height: 16px;
  margin-left: 4px;
}
