@use "aposto-theme" as *;

.mdc-drawer {
  width: calc(100vw - 56px);
}

.mdc-drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: end;

  .mdc-icon-button {
    color: rgba(0, 0, 0, 0.6);
  }
}

.mdc-drawer__header + .mdc-list-divider {
  margin-bottom: 0;
}

.mdc-drawer__content + .mdc-list-divider {
    margin-top: 0;
}

.drawer-form {
  $header-divider-height: 64 + 3 + 1;
  height: calc(100vh - #{$header-divider-height}px);

  .mdc-drawer__content {
    $header-divider-footer-height: $header-divider-height + 1 + 4 + 64;
    height: calc(100vh - #{$header-divider-footer-height}px);
  }
}

.drawer-form-section {
  padding: 16px;
}

.drawer-footer {
  display: flex;
  align-items: center;
  // Material .mdc-drawer__header class
  box-sizing: border-box;
  min-height: 64px;
  padding: 0 16px 4px;
}

@media (min-width: $large-width-breakpoint) {
  .mdc-drawer {
    width: 320px;
  }
}
