.container {
  max-width: 750px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1.5rem 0 0.5rem 0;
}

.success-alert {
  border-radius: .1rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.hide {
  display: none;
}

.author-col,
.therapist-col {
  text-align: center;
}

.author-col > .card,
.therapist-col > .card {
  height: 100%;
}

@media (max-width: 600px) {
  .author-col {
    margin-bottom: 1rem;
  }
}

.btn-edit-info {
  width: 100%;
  margin-top: 1rem;
}

.patients-list {
  display: flex;
  overflow: scroll;
  margin-bottom: 0.4rem;
}

.patient-card {
  min-width: 150px;
  margin-right: 0.8rem;
}

.patient-card:hover {
  background: #4240d4;
  border-color: #3634d2;
  color: #fff;
  cursor: pointer;
}

.form-group .col-6:not(:last-child),
.form-group .col-3,
.form-group .col-9,
.date-col {
  padding-right: 0.75rem;
}

.form-group .col-6:last-child,
.currency-col {
  padding-left: 0.75rem;
}

@media (max-width: 600px) {
  .form-group .col-6:not(:last-child),
  .form-group .col-9 {
    padding-right: 0;
  }

  .form-group .col-6:last-child,
  .form-group .col-3 {
    padding-left: 0;
  }

  .col-9.col-sm-12 {
    margin-bottom: 0.4rem;
  }
}

.buttons-group {
  margin-top: 1rem;
}

.buttons-group > *:first-child {
  padding-right: 0.5rem;
}

.buttons-group > *:not(:first-child):not(:last-child) {
  padding: 0 0.25rem;
}

.buttons-group > *:last-child {
  padding-left: 0.5rem;
}

.buttons-group button,
.buttons-group a {
  width: 100%;
}
