:global(.preferred-service-chip.mdc-chip.colored) {
  border: 1px solid #fff;
}

.material-icons-outlined {
  height: 32px;
  width: 32px;
  font-size: 32px;
  margin: 8px 4px;
  color: var(--selected-service-color);
}
