@use "@material/theme";

.dialog-checkbox {
  display: flex;
  align-items: center;
}

:global(.mdc-button.cancel-button) {
  color: theme.$error;

  :global(.mdc-button__ripple::before),
  :global(.mdc-button .mdc-button__ripple::after) {
    background-color: theme.$error;
  }
}
