.service-price-p {
  margin-top: 32px;
  margin-bottom: 4px;
}

.service-price-edit-form {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  > :global(*:first-child) {
    margin-bottom: 0;
    width: auto;
  }
}
