$primary: #68b246;
$on-primary: #fff;
$secondary: #46b290;
$on-secondary: #fff;
$text-color: #444;
$light-gray: rgba(0, 0, 0, 0.54);
$warning: #ffc107;

$form-field-fill-color: #fff;

$large-width-breakpoint: 640px;
$xsmall-width-breakpoint: 370px;
$top-app-bar-height-breakpoint: 599px;

@use "@material/theme" with (
  $primary: $primary,
  $on-primary: $on-primary,
  $secondary: $secondary,
  $on-secondary: $on-secondary
);
