@use "variables";

@use "@material/textfield";

.aposto-form {
  display: flex;
  flex-direction: column;

  .mdc-text-field {
    @include textfield.outlined-height(variables.$text-field-height);
    margin: 8px 0;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
