@use "aposto-theme" as *;

@use "@material/textfield";

.aposto-form {
  display: flex;
  flex-direction: column;

  .mdc-text-field,
  .mdc-select {
    margin: 8px 0;
  }

  .mdc-text-field:not(.mdc-text-field--outlined) {
    @include textfield.fill-color($text-field-fill-color);
  }

  .mdc-text-field.mdc-text-field--outlined {
    @include textfield.outlined-height($outlined-text-field-height);
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
