@use "variables";
@use "@material/theme" with (
  $primary: variables.$primary,
  $on-primary: variables.$on-primary
);
@use "@material/typography/mdc-typography";
@use "@material/button/mdc-button";
@use "@material/icon-button/mdc-icon-button";
@use "@material/textfield";
@use "@material/textfield/mdc-text-field";

.aposto-form {
  display: flex;
  flex-direction: column;

  .mdc-text-field {
    @include textfield.outlined-height(variables.$text-field-height);
    margin: 8px 0;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.aposto-form-row {
  display: flex;
  flex-direction: column;
  margin: 8px 0;

  .col-lg-6:first-of-type {
    margin-top: 0;
  }

  .col-lg-6 {
    margin: 8px 0;
  }

  .col-lg-6:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: variables.$large-width-breakpoint) {
  .aposto-form-row {
    flex-direction: row;

    .col-lg-6:first-of-type {
      margin-left: 0;
    }

    .col-lg-6 {
      width: 50%;
      margin: 0 8px;
    }

    .col-lg-6:last-of-type {
      margin-right: 0;
    }
  }
}
