@use "aposto-theme" as *;
@use "@material/theme" with (
  $primary: $primary,
  $on-primary: $on-primary,
  $secondary: $secondary,
  $on-secondary: $on-secondary
);

@use "form";

@use "@material/typography/mdc-typography";
@use "@material/button/mdc-button";
@use "@material/icon-button/mdc-icon-button";
@use "@material/textfield/mdc-text-field";
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";
@use "@material/chips/mdc-chips";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/mdc-select";
@use "@material/card/mdc-card";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/fab/mdc-fab";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/dialog/mdc-dialog";
@use "@material/form-field/mdc-form-field";
@use "@material/checkbox/mdc-checkbox";

p {
  @extend .mdc-typography--body1
}

.typography--button-inline {
  font-weight: 700;
  cursor: pointer;
  line-height: inherit;
  // Material .mdc-typography--button class
  font-size: 0.875rem;
  /* @alternate */
  font-size: var(--mdc-typography-button-font-size, 0.875rem);
  letter-spacing: 0.0892857143em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
  /* @alternate */
  -webkit-text-decoration: var(--mdc-typography-button-text-decoration, none);
          text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-transform: uppercase;
  /* @alternate */
  text-transform: var(--mdc-typography-button-text-transform, uppercase);
}

.typography--button-inline:hover {
  color: $primary;
}

.card-set > .mdc-card {
  margin: 16px 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.mdc-card {
  padding: 16px;

  & > * {
    width: 100%;
  }
}
