.expansion-panel {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #fff;

  &.openned {
    .expansion-panel-summary {
      &:hover {
        background: #fff;
      }

      &::after {
        transform: rotate(-135deg);
      }
    }

    .expansion-panel-content {
      height: unset;
    }
  }
}

.expansion-panel-summary {
  cursor: pointer;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 24px;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  &::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    padding: 3px;
    transform: rotate(45deg);
    margin-left: auto;
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.expansion-panel-content {
  padding: 16px;
  height: 0;
  transition: height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
