.therapy-description {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;

  > * {
    display: flex;
    align-items: center;
  }
}

.service-timeline {
  width: 36px;
  margin-right: 20px;
  height: 100%;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
}

.service:last-of-type .service-timeline {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.service:not(:last-of-type) .service-timeline {
  margin-top: -18px;
  padding-top: 18px;
}

:global(.service-label) {
  font-weight: 700;

  :global(.mdc-chip__icon) {
    font-size: 12px;
    width: 12px;
    height: 12px;
  }
}

@for $i from 0 through 4 {
  #service-#{$i} .service-timeline {
    background-color: var(--service-#{$i}-color);
  }
}

.total-duration {
  margin-top: 8px;
}
