.therapy-description{
  list-style-type: none;
  padding: 0;
  margin: 0;

  > * {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.service-duration {
  position: absolute;
  color: #fff;
  font-size: 8pt;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.service-timeline {
  width: 4px;
  margin: 0 26px 0 6px;
  height: 100%;
}

.service-label {
  background-color: initial;
  height: 20px;
  border-radius: 10px;
  padding: 0 8px;
}
