.therapy-description{
  list-style-type: none;
  padding: 0;
  margin: 0;

  > * {
    display: flex;
    align-items: center;
  }
}

.service-timeline {
  width: 36px;
  margin-right: 20px;
  height: 100%;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
}

.service:first-of-type .service-timeline {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.service:not(:first-of-type) .service-timeline {
  margin-top: -18px;
  padding-top: 18px;
}

.service-label {
  background-color: initial;
  font-weight: 700;

  .edit-icon {
    font-size: 10px;
  }
}

@for $i from 0 through 4 {
  #service-#{$i} {
    .service-timeline {
      background-color: var(--service-#{$i}-color);
    }

    .service-label {
      color: var(--service-#{$i}-color);
      border: 1px solid var(--service-#{$i}-color);
    }

    .mdc-chip__ripple {
      &::before,
      &::after {
        background-color: var(--service-#{$i}-color);
      }
    }
  }
}

.total-duration {
  margin-top: 8px;
}
