@use "aposto-theme" as *;

.aposto-form {
  padding: 16px;

  @media (max-width: $xlarge-width-breakpoint - 1) {
    :global(.connect-button) {
      height: 52.5px;
    }
  }
}

.demo-hint {
  font-size: 12px;
  margin-top: 8px;
  line-height: normal;
}

@media (min-width: $xlarge-width-breakpoint) {
  .aposto-form {
    padding: 16px 150px;
  }
}
