@use "aposto-theme" as *;

.service-label-container {
  display: flex;
  overflow: hidden;

  :global(.mdc-icon-button.service-delete) {
    margin-left: 8px;
    color: $light-gray;
    width: 36px;
    height: 36px;
    padding: 9px;
    font-size: 18px;
  }
}
