.mdc-chip {
  max-width: 100%;

  .chip-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.colored {
  color: var(--chip-color);
  border: 1px solid var(--chip-color);
  background-color: initial;

  &.mdc-chip.mdc-chip--selected:hover {
    color: var(--chip-color);
  }

  .mdc-chip__ripple {
    &::before,
    &::after {
      background-color: var(--chip-color);
    }
  }

  &:hover .mdc-chip__ripple::before {
    opacity: 0.1;
  }

  .mdc-chip__icon {
    color: var(--chip-color);
  }
}
