@use "aposto-theme" as *;

:global(.finalize-p) {
  display: flex;
  align-items: center;
  margin: 0;

  & > :global(*:first-child) {
    margin-right: 20px;
    height: 36px;
    width: 36px;
    font-size: 36px;
  }
}

.send-button {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: $primary;

  & > :global(.mdc-fab) {
    $button-size: 72;
    width: #{$button-size}px;
    height: #{$button-size}px;

    &:disabled {
      opacity: 0.5;

      &:hover {
        cursor: progress;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

        :global(.mdc-fab__ripple::before) {
          opacity: 0;
        }
      }
    }

    :global(.mdc-fab__icon) {
      $icon-size: 32;
      font-size: #{$icon-size}px;
      width: #{$icon-size}px;
      height: #{$icon-size}px;
    }
  }
}

:global(.typography--button-inline.no-click-inline) {
  cursor: default;
}

:global(.typography--button-inline:hover.no-click-inline) {
  color: inherit;
}
