@use "../../styles/variables";

:global(.finalize-p) {
  display: flex;
  align-items: center;
  margin: 0;

  & > :global(*:first-child) {
    margin-right: 20px;
    height: 36px;
    width: 36px;
    font-size: 36px;
  }
}

.send-button {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: variables.$primary;

  & > :global(.mdc-icon-button) {
    $icon-size: 52;
    font-size: #{$icon-size}px;
    width: #{$icon-size + 2 * 12}px;
    height: #{$icon-size + 2 * 12}px;
  }
}

:global(.typography--button-inline.no-click-inline) {
  cursor: default;
}

:global(.typography--button-inline:hover.no-click-inline) {
  color: inherit;
}
