@use "../../styles/variables";

:global(.finalize-p) {
  display: flex;
  align-items: center;
  margin: 0;

  & > :global(*:first-child) {
    margin-right: 20px;
    height: 36px;
    width: 36px;
    font-size: 36px;
  }
}

.send-button {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: variables.$primary;

  & > :global(.mdc-fab) {
    $button-size: 72;
    width: #{$button-size}px;
    height: #{$button-size}px;

    & :global(.mdc-fab__icon) {
      $icon-size: 32;
      font-size: #{$icon-size}px;
      width: #{$icon-size}px;
      height: #{$icon-size}px;
    }
  }
}

:global(.typography--button-inline.no-click-inline) {
  cursor: default;
}

:global(.typography--button-inline:hover.no-click-inline) {
  color: inherit;
}
