@use "aposto-theme";
@use "main";

main {
  padding: 124px 8px 32px 8px;
  margin: 0 auto;
  min-height: calc(100vh - 156px);
  display: flex;
  align-items: center;

  > * {
    width: 100%;
  }
}

@media (min-width: aposto-theme.$large-width-breakpoint) {
  main {
    max-width: 400px;
  }
}

@media (min-width: 599px) {
  main {
    padding-top: 132px;
    min-height: calc(100vh - 164px);
  }
}
