@use "styles/variables";
@use "styles/main";

main {
  padding: 124px 8px 32px 8px;
  margin: 0 auto;
  min-height: calc(100vh - 156px);
  display: flex;
  align-items: center;

  > * {
    width: 100%;
  }
}

.finalize-p {
  display: flex;
  align-items: center;
  margin: 0;

  & > *:first-child {
    margin-right: 20px;
    height: 36px;
    width: 36px;
    font-size: 36px;
  }
}

.typography--button-inline.total-amount {
  cursor: default;
}

.typography--button-inline:hover.total-amount {
  color: inherit;
}

.button-card {
  padding: 0;
  display: flex;
  align-items: center;
  color: variables.$primary;
  font-size: 36px;

  & > :global(.mdc-icon-button) {
    font-size: 36px;
    width: 60px;
    height: 60px;
  }
}

@media (min-width: variables.$large-width-breakpoint) {
  main {
    max-width: 400px;
  }
}

@media (min-width: 599px) {
  main {
    padding-top: 132px;
    min-height: calc(100vh - 164px);
  }
}
