@use "styles/variables";
@use "styles/main";

main {
  padding: 32px 16px;
  margin: 0 auto;
  $header-padding-height: 36 + (32 * 2);
  min-height: calc(100vh - #{$header-padding-height}px);
  display: flex;
  flex-direction: column;
}

.typography--button-inline.total-amount {
  cursor: default;
}

.typography--button-inline:hover.total-amount {
  color: inherit;
}

.total-amount-p {
  margin-top: 32px;
}

@media (min-width: variables.$large-width-breakpoint) {
  main {
    max-width: 500px;
  }
}
