body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 0;
  left: 0;
  font-size: 7pt;
  margin: 0;
}

body>* {
  position: absolute;
}

img {
  top: 0;
  left: 0;
  max-width: 210mm;
  max-height: 297mm;
}

#identification {
  top: 68px;
  left: 179px;
}

#author-names {
  top: 83px;
  left: 250px;
}

#author-rcc {
  top: 95px;
  left: 164px;
}

#author-address {
  top: 95px;
  left: 251px;
}

#author-email {
  top: 83px;
  left: 586px;
}

#author-phone {
  top: 94px;
  left: 586px;
}

#therapist-names {
  top: 110px;
  left: 250px;
}

#therapist-rcc {
  top: 121px;
  left: 164px;
}

#therapist-address {
  top: 121px;
  left: 251px;
}

#therapist-email {
  top: 110px;
  left: 586px;
}

#therapist-phone {
  top: 121px;
  left: 586px;
}

#customer-last-name {
  top: 142px;
  left: 220px;
}

#customer-first-name {
  top: 156px;
  left: 220px;
}

#customer-street {
  top: 169px;
  left: 220px;
}

#customer-npa {
  top: 182px;
  left: 220px;
}

#customer-city {
  top: 194px;
  left: 220px;
}

#customer-birthdate {
  top: 208px;
  left: 220px;
}

#therapy-start-date {
  top: 367px;
  left: 220px;
}

#therapy-end-date {
  top: 367px;
  left: 283px;
}

#receipt-date {
  top: 340px;
  left: 513px;
}

#receipt-number {
  top: 340px;
  left: 580px;
}

#therapy-type {
  top: 437px;
  left: 125px;
}

.service-1 {
  top: 506px;
}

.service-2 {
  top: 531px;
}

.service-3 {
  top: 556px;
}

.service-4 {
  top: 581px;
}

.service-5 {
  top: 606px;
}

.service-date {
  left: 63px;
}

.service-rate-type {
  left: 126px;
}

.service-code,
.service-code-label {
  left: 150px;
}

.service-quantity {
  left: 337px;
}

.service-price {
  left: 385px;
}

.service-point-value {
  left: 467px;
}

.service-tax {
  left: 661px;
}

.service-amount {
  left: 730px;
}

.service-code-label.service-1 {
  top: 518px;
}

.service-code-label.service-2 {
  top: 543px;
}

.service-code-label.service-3 {
  top: 568px;
}

.service-code-label.service-4 {
  top: 593px;
}

.service-code-label.service-5 {
  top: 618px;
}

#total-amount {
  top: 1001px;
  left: 724px;
}

#owed-amount {
  top: 1036px;
  left: 724px;
}